* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  color: #ffffff;
}

/* HEADER */
header {
  background-color: black;
  /* border: 1px solid blue; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  margin: 10px 20px;
  position: relative;
}

.header-container div {
  position: relative;
  padding: 10px;
  /* border: 1px solid red; */
}

.header-container .logo img {
  width: 200px;
}

.search-container {
  border-radius: 10px;
  background-color: white;
  /* border: 1px solid red; */
}

.search-container input[type=text] {
  font-size: 26px;
  padding: 0px 10px;
  margin: 0px 5px;
  border: none;
  outline: none;
}

.search-container button {
  font-size: 26px;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.icons-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icons-container div {
  font-size: 32px;
}

/* ESTILOS AL "MAIN" (DENTRO DE ESTE CONTENEDOR ESTÁN ASIDE Y BODY) */
.container {
  display: flex;
}

/* ASIDE */
aside {
  width: 25vw;
  height: 100vh;
  position: sticky;
  background-color: #0e1013;
  padding: 30px;
  margin: 40px 20px;
  border-radius: 20px;
  /* border: 1px solid red; */
}

aside h4 {
  font-size: 32px;
}

aside ul {
  list-style-type: none;
}

aside ul li {
  padding: 10px 0px;
}

.menu a {
  display: block;
  font-size: 24px;
  text-decoration: none;
  color: inherit;
  padding: 0px 10px;
  /* border: 1px solid red */
}

.menu li:hover {
  background-color: #5e0d26;
  border-radius: 5px;
}

/* BODY */
.body {
  width: 75vw;
  display: flex;
  flex-direction: column;
  background-color: #0e1013;
  padding: 0px 40px;
  margin: 40px;
  border-radius: 20px;
  /* border: 1px solid white; */
}

.last-product, .last-user {
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
  margin: 30px 0px;
}

.last-product div img, .last-user div img {
  max-width: 260px;
}

.last-product-details p, .last-user-details p {
  line-height: 1.5;
  margin: 20px 0;
}

.body section {
  /* background-color: #0e1013; */
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
}

/* SECCION HOME / NOVEDADES */
.news {
  margin-top: 20px;
}

.body section h4 {
  font-size: 32px;
}

/* SECCION PRODUCTS */
.products h4 {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:hover, tr:nth-child(even):hover {
  background-color: #5e0d26;
}

tr:nth-child(even) {
  background-color: black;
}

.products button {
  font-size: 16px;
  padding: 5px 10px;
  margin: 10px 30px 0 0;
}

/* SECCION COUNTRIES */
.countries {
  margin-top: 20px;
}

.countries ul {
  list-style: none;
}

/* SECCION GRAPES */
.grapes {
  margin-top: 20px;
}

.grapes ul {
  list-style: none;
}

/* SECCION USERS */
.users h4 {
  margin-top: 20px;
}
